@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container 
{
  max-width: 500px;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
}